# Visual Studio
.vs/
*.suo
*.user
*.log
*.pdb
*.opendb
*.opensdf
*.sdf
*.tlog
*.cache
*.obj
*.bak
*.ipch
*.aps
*.bsc
*.sbr
*.res

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Rider
.idea/

# NuGet
packages/
*.nupkg

# Test Results
TestResults/

# Miscellaneous
*.tmp
*.exe
*.dll
*.com
*.ocx
*.lib
*.ncb
*.userprefs
*.vshost.*